<html>
    <body>
        <h1>Add a quote...</h1>
        <form action="/add" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="text">Quote</label>
                    </td>
                    <td>
                        <textarea id="text" name="text" cols="40" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="author">Author</label>
                    </td>
                    <td>
                        <input type="text" id="author" name="author"/>        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="public">Public?</label>
                    </td>
                    <td>
                        <input type="checkbox" id="public" name="public"/>        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="disable_comments">Disable Comments?</label>
                    </td>
                    <td>
                        <input type="checkbox" id="disable_comments" name="disable_comments"/>        
                    </td>
                </tr>
            </table>
            <button type="submit">Submit</button>
            <br>
            <a href="/">Cancel</a>
        </form>
    </body>
</html>