<html>
    <body>
        <h1>Edit this comment...</h1>
        <form action="/edit_comment/{{ comment["_id"] }}" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="text">Comment</label>
                    </td>
                    <td>
                        <textarea id="text" name="text" cols="40" rows="5">{{ comment["text"] }}</textarea>
                    </td>
                </tr>
            </table>
            <button type="submit">Update</button>
            <br>
            <a href="/">Cancel</a>
        </form>
    </body>
</html>