<html>

<body>
    <h1>Please Login</h1>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td>
                    <label for="User">User</label>
                </td>
                <td>
                    <input type="text" id="user" name="user" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="text" id="password" name="password" />
                </td>
            </tr>
        </table>
        <button type="submit">Login</button>
        <br>
        <a href="/">Cancel</a>
    </form>
    <a href="/register">Not registered? Sign up now!</a>

</body>

</html>