<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h1>Quotes</h1>
    <hr>
    <!-- Search Form -->
    <form action="/search" method="get">
        <input type="text" name="search_term" placeholder="Search quotes...">
        <button type="submit">Search</button>
    </form>

    <!-- Display search results if present -->
    {% if data %}
    <h2>Search Results</h2>
    <table>
        {% for item in data %}
        <tr>
            <td>[{{ item["date"] }}]</td>
            <td>[{{ item["owner"] }}]</td>
            <td>{{ item["text"] }}</td>
            <td><em>--</em> <em>{{ item["author"] }}</em></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <!-- No search results found -->
        <p>No quotes found matching your search criteria.</p>

        <!-- Public Feed Section -->
        <h2>Public Feed</h2>
        <table>
            {% for item in public_quotes %}
            <tr>
                <td>[{{ item["date"] }}]</td>
                <td>[{{ item["owner"] }}]</td>
                {% if not item["disable_comments"] %}
                <td><a href="/quote/{{ item['_id'] }}">{{ item["text"] }}</a></td>
                {% else %}
                <td>{{ item["text"] }}</td>
                {% endif %}
                <td><em>--</em> <em>{{ item["author"] }}</em></td>
            </tr>
            {% endfor %}
        </table>

        <!-- My Quotes Section -->
        <h2>My Quotes</h2>
        <table>
            {% for item in my_quotes %}
            <tr>
                <td>[{{ item["date"] }}]</td>
                <td>[{{ item["owner"] }}]</td>
                <td><a href="/quote/{{ item['_id'] }}">{{ item["text"] }}</a></td>
                <td><em>--</em> <em>{{ item["author"] }}</em></td>
                <td>
                    [
                    <a href="/edit/{{ item['_id'] }}"><i class="material-icons">mode_edit</i></a>
                    <a href="/delete/{{ item['_id'] }}" onclick="return confirm('Are you sure you want to delete this quote?');"><i class="material-icons">delete</i></a>
                    ]
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <hr />
    <a href="/add">Add a new quote!</a>
    <hr />
    User = {{user}} (<a href="/logout">Logout</a>)
</body>
</html>
